<div class="content">
<form  #f="ngForm" novalidate>
    <label>User name:</label>
    <input type="text"  name="forminput" ngModel required #first="ngModel">
    <div class="error" *ngIf="!first.valid">*enter your name</div>
    <br><br>
      <label>Password:</label>
    <!-- <input type="password"  placeholder="password" required minlength="4" [(ngModel)]="hhhhh"> -->
    <input type="text" >
    <!-- <div> -->
        <!-- Password must be at least 4 characters long. -->
      <!-- </div> -->
    <button>Login</button>
</form>
</div>