<div class="homeheader">
    <div class="logo">
        <img src="https://api.freelogodesign.org/assets/thumb/logo/15046535_400.png?t=637885594730000000" width="80px" >
    </div>
    <div class="name">
        CompanyName
    </div>
    <div class="navitems">
        <div class="home">
            <mat-icon (click)="home()">home</mat-icon>
            <span (click)="home()">Home</span>
        </div>
        <div class="profile">
        <mat-icon (click)="profile()">person</mat-icon>
        <span (click)="profile()">Profile</span>
        </div>
        <div class="logout">
        <mat-icon (click)="logout()" >logout</mat-icon>
        <span (click)="logout()">Logout</span>
        </div>
    </div>
    
    <!-- <div class="menu"> -->
        <!-- <mat-icon (click)="menu()">menu</mat-icon> -->
    <!-- </div> -->
</div>
