<div class="homeheader">
    <div class="logo">
        <img src="https://api.freelogodesign.org/assets/thumb/logo/15046535_400.png?t=637885594730000000" width="80px" >
    </div>
    <div class="name">
        CompanyName
    </div>
    <div class="navitems">
        <div >
        <Button class="profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
        </Button>
        </div>
        <div >
        <Button onclick="logout()" class="logout">
        <mat-icon >logout</mat-icon>
        <span>Logout</span>
        </Button>
        </div>
    </div>
    <div class="menu">
        <mat-icon (click)="menu()">menu</mat-icon>
    </div>
</div>
