<div class="footermain">
<div class="footer">
    <a href="https://github.com/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="icon"></a>
    <a href="https://twitter.com/i/flow/login" target="_blank"><img src="https://static.vecteezy.com/system/resources/previews/002/534/045/original/social-media-twitter-logo-blue-isolated-free-vector.jpg" class="icon"></a>
    <a href="https://www.instagram.com/?hl=en" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" class="icon"></a>
</div>
<div class="ccfooter">
    Copyrights@CompanyName
</div>
</div>