
<app-header></app-header>

<div class="content">
<form  #f="ngForm" validate>
    <label>User name:</label>
    <input class="form-control" type="text"  name="forminput" ngModel required #first="ngModel">
    <div class="error" *ngIf="!first.valid">
      <strong>*enter your name</strong></div>
    <br><br>
      <label>Password:</label>
    <input type="password" name="formpass" ngModel required #pass="ngModel">
    <div class="error" *ngIf="!pass.valid"><strong>*enter your password</strong></div>
    <button  (click)="submit(first.value,pass.value)">Login</button>
</form>
</div>
