.content{
    background-color: rgb(226, 244, 244);
    padding: 5%;
    
}
label{
    margin-top: 3%;
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-left: 30%;
    padding: 5%;
}
input{
    font-family: sans-serif;
    height: 50%;
}
.butclass>button{
    margin-top: 3%;
    margin-left: 38%;
    font-size: large;
    width: 20%;
    background-color: rgb(121, 241, 121);
    border-color: transparent;
    font-family: sans-serif;
    cursor: pointer;
}   
.error{
    color: rgb(243, 71, 71);
    margin-left: 48%;
    font-style: italic;
}
input{
    border-radius: 5px;
    border-color: white;
    border-width: 2px;
    padding: 5px;
}
input:focus {
    outline: none !important;
    border:1px solid rgb(45, 122, 239);
    box-shadow: 0 0 20px #509def;
}
.signup{
    font-size:small;
    padding: 1%;
    margin-left: 40%;
}
.signup>button{
    font-size:medium;
    cursor: pointer;
    color: darkblue;
    background-color: rgb(226, 244, 244);
    border-color: transparent;
}